<div id="main_content" class="clearfix">
            		
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
  			  <tr>
   			    <td><form name="form1" method="post" action="http://net-shapers.com/unarxcardcreator/createdrugcardtemplate-restat.php">
        <%= image_tag  "discount_clip_image001_0000.jpg", :alt=> "", :width=>720, :height=>240 %>
        <table border="0" align="center" cellpadding="3" cellspacing="0">
          <tr>
            <td><table width="340" border="0" cellspacing="1" cellpadding="2" align="center" bgcolor="#000000">
                <tr bgcolor="#CCCCCC" align="center"> 
                  <td colspan="2"><font face="Arial, Helvetica, sans-serif" size="2"><b>Card 
                    Information</b></font></td>
                </tr>
                <tr bgcolor="#FFFFFF"> 
                  <td><font face="Arial, Helvetica, sans-serif" size="2">First 
                    Name</font></td>
                  <td> <font face="Arial, Helvetica, sans-serif" size="2"> 
                    <input type="text" name="firstName">
                    </font></td>
                </tr>
                <tr bgcolor="#FFFFFF"> 
                  <td><font face="Arial, Helvetica, sans-serif" size="2">Last 
                    Name</font></td>
                  <td> <font face="Arial, Helvetica, sans-serif" size="2"> 
                    <input type="text" name="lastName">
                    </font></td>
                </tr>
                <tr bgcolor="#FFFFFF"> 
                  <td><font face="Arial, Helvetica, sans-serif" size="2">Email</font></td>
                  <td> <font face="Arial, Helvetica, sans-serif" size="2"> 
                    <input type="text" name="email">
                    </font></td>
                </tr>
                <tr bgcolor="#FFFFFF" align="center"> 
                  <td colspan="2"> <input type="submit" name="Submit" value="Create Prescription Card">
                  </td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td>
                <font size="1" face="Arial, Helvetica, sans-serif"><b><font face="Verdana, Arial, Helvetica, sans-serif">Note: 
                You can put NONE in e-mail box if you don&#8217;t want updates. 
                </font></b><br />
                &copy; 
                United Networks of America<br />
                Powered by <%= link_to "UNA Rx Card", "http://unarxcard.com", :rel=>"external" %></font> 
              </td>
          </tr>
        </table>
        <p align="center"><strong><%= image_tag "discount_clip_image002.jpg", :alt=>"" %></strong><br />
            <strong>List of participating pharmacies:</strong><br />
            <strong><%= image_tag "discount_clip_image004.jpg", :alt => "" %></strong></p>
        <br />
                      <input name="franchise" type="hidden" value="3">
					  <input name="program" type="hidden" value="UNARxCard">
					  <input name="rxgrp" type="hidden" value="ASMR2JCFCU">
					  <input name="fromaddress" type="hidden" value="cs@unarxcard.com">
					  <input name="disableAdditionalSavings" type="hidden" value="0">
					  <input name="disableReferralLogos" type="hidden" value="0">
				  </form></td>
  				</tr>
		      </table>
        </p>
    </div>