<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
    	<h2>DEBIT CARD &amp; ATM NETWORK ACCESS AGREEMENT <br />ELECTRONIC SERVICES DISCLOSURE AND AGREEMENT </h2>
        <h5>Effective: September 2005 </h5>
        
        <p>In this Disclosure and Agreement, the words YOU and YOUR mean each and all of those who apply for and/or use any of the Electronic Services described in this Disclosure and Agreement. The words WE, US AND OUR mean Jefferson County Federal Credit Union. </p>
        <p>This Disclosure and (Agreement) is given in compliance with the Electronic Funds Transfer Act (15 U.S.C. Section 1693, et seq.) and Regulation E (12 CFR 205, et seq.) to inform you of certain terms and conditions of the Electronic Funds Transfer Services you have requested. </p>
        <p>Jefferson County Federal Credit Union offers several types of services that may be accomplished through electronic transactions: preauthorized deposits of paychecks, preauthorized deposits of pension checks and Federal Recurring Payments (for example, Social Security payments), certain preauthorized payments from a member's account (for example, insurance premiums), Automated Telephone Banking Service ( hereinafter referred to INFO TELLER, an Automated Teller Machine network which includes Automated Teller Machines (hereinafter referred to as ATMs), Electronic Fund Transfers, Point-of-Sale (POS) transactions, Home Banking services (hereinafter referred to as HOME BRANCH) and Bill Paying services (hereinafter referred to as Bill Payer). Additions to line of credit loans may not be available at this time but may be in the future. Disclosure information applicable to each electronic service offered by us are below, together with specific disclosure information for each service. You understand that the Agreements, rules and regulations applicable to your Primary or Regular Savings Account (S-1), Share Draft &quot;Checking&quot; Account, Cash Investment Account (CIA) Corporate Cash Investment Account (CCIA) other savings account like club, escrow, special and vacation and any other applicable account (hereinafter referred to as &quot;your accounts&quot;, remain in full force and effect and continue to be applicable, except as specifically modified by this Agreement. </p>
        <p>By requesting, retaining, signing or using (or authorizing another person or persons to retain, sign or use) your Card(s) or Personal Identification Number (PIN), or performing any other electronic fund transactions, you agree to use the Card, PIN, and the electronic services in accordance with the following terms and conditions and agree to the terms and conditions contained in this agreement. </p>
        
        <p class="redlarge">GENERAL DISCLOSURES APPLICABLE TO ALL ELECTRONIC SERVICES </p>
        <p>Business Day Disclosure: Our business days are Monday through Friday, except holidays. Our ATMs are open, but not always accessible, 24 hours a day with minor interruptions for business needs. INFO TELLER, HOME BRANCH and Bill Payer are generally available 24 hours a day, 365 days a year with minor interruptions for end-of-day processing or other business needs. </p>
        <p>ATM transactions occurring after 2:00 p.m., local time will be posted the next business day. INFO TELLER &amp; Home Branch transactions occurring after 4:30 p.m. (Monday thru Thursday) and 6:30 p.m. (Friday) are posted the next business day. </p>
        
        <h5>Disclosure of Account Information to Third Parties: </h5>
        <p>We will disclose information to third parties about your account or transfers you make: </p>
        <ol>
        	<li>When it is necessary to complete an electronic transaction; or </li>
            <li>In order to verify the existence and condition of your account for a third party, such as a credit bureau or merchant; or </li>
            <li>In order to comply with legal process, such as a government agency or court order; or </li>
            <li>If you give us written permission. </li>
        </ol>
        
        <h5>In Case of Errors or Questions About Your Electronic Services Transactions: </h5>
        <p>You must telephone us at: (502)429-4955 or (800)288-5228<br />
Or write to us at: Jefferson County Federal Credit Union<br />
Attn: Support Services Officer<br />
9600 Ormsby Station Road<br />
P. O. Box 22289<br />
Louisville, KY 40252-0289<br />as soon as you can if you think your statement or receipt is wrong or if you need more information about a transaction listed on the statement or receipt. We must hear from you no later than sixty (60) days after we sent you the first statement on which the problem or error appeared, or from the date of your receipt on which the problem appeared. You must give us the following information: </p>

<ol>	
	<li>Your name and account number; </li>
    <li>The dollar amount and the date of the suspected error; </li>
    <li>Describe the error or the transaction you are unsure about and explain why you believe it is an error or why you need more information; </li>
</ol>

<p>If you tell us orally, we require that you send us your dispute or question in writing within ten (10) business days. </p>

<p>We will tell you the results of our investigation within ten (10) business days (or twenty (20) business days in the case of a transaction involving funds transferred to or from an account within 30 days after a deposit to the account was made, after we hear from you in writing and will correct any error promptly. If we need more time, however, we may take up to forty-five (45) calendar days (or ninety (90) calendar days if the error involves an Electronic Fund Transaction resulting from a point-of-sale transaction, a transaction involving funds transferred to or from an account within 30 days after a deposit to the account was made, or a transaction made outside of the United States) to investigate your dispute or question. If we decide to do this, we will provisionally credit your account within ten (10) business days (or twenty (20) business days, in the case of a transaction involving funds transferred to or from an account within 30 days after a deposit to the account was made, for the amount you think is in error, so that you will have the use of the money during the time it takes us to complete our investigation. If we ask you to put your dispute or question in writing and we do not receive your written dispute within ten (10) business days, we will not provisionally credit your account during the additional time that may be required to investigate your dispute or question. </p>

<p>If we determine there was no error, we will send you a written explanation within three (3) business days after we finish our investigation. If a provisional credit is reversed, you will receive notice of the date and amount of the reversal. You may ask for copies of the documents that we used in our investigation. </p>

<h5>Our Liability for Failure to Make or Complete Electronic Funds Transactions: </h5>

<p>If we do not properly complete an Electronic Fund Transaction to or from your account on time or in the correct amount according to our agreement with you, we will be liable for your losses and damages. However, there are some exceptions. We will NOT be liable, for instance if: </p>

<ol>
	<li>Circumstances beyond our control (such as fire, flood, earthquake, or electronic failure or malfunction of central data processing facility, etc.) prevent the transaction, despite reasonable precautions; </li>
    <li>Through no fault of ours, you do not have enough money in your account or available line of credit (or sufficient collected funds) to make the transaction; </li>
    <li>The terminal where you were making the transaction did not have enough cash;</li>
    <li>The funds in your account are subject to an uncollected funds hold, legal process or other circumstances restricting such transaction or payment; </li>
    <li>The payee mishandles or delays a payment sent by Bill Pay; </li>
    <li>You have not provided Bill Payer with the correct names, addresses, or account information for those entities to which you wish to direct bill payment; </li>
    <li>The failure to complete the transaction is done to protect the integrity of the system or the security of your account; </li>
    <li>The ATM system, HOME BRANCH or Bill Payer system was not working properly and you knew about this breakdown when you started the transaction; </li>
    <li>Your Debit card or PIN has been lost or stolen, has expired, is damaged so that the ATM system cannot read the encoding strip, is inactive due to non-use, is retained by us, or because your Debit, HOME BRANCH or Bill Payer PIN has been repeatedly entered incorrectly; </li>
    <li>There may be other exceptions stated in state or federal statutes or regulations.</li>
</ol>

<h5>Your Personal Identification Number (PIN): </h5>
<p>You understand that you cannot use INFO TELLER, HOME BRANCH and Bill Payer, or ATM or Point-Of-Sale terminals without an identification number that will initially be provided by us, which we refer to as your PIN. You are responsible for the safekeeping of your PIN and for all transactions made by use of INFO TELLER, HOME BRANCH and Bill Payer, and ATM and Point-Of-Sale terminals and your PIN. </p>

<p>You will notify us immediately and send written confirmation if your PIN is disclosed to anyone other than the joint owner of your account. If you disclose your PIN to anyone, however, you understand that you have given him or her access to your account via INFO TELLER, HOME BRANCH, Bill Payer, ATM or POS terminals and that you are responsible for any such transactions. </p>

<p>You further understand that your PIN is not transferable and you will not disclose the PIN or permit any unauthorized use thereof. </p>

<h5>Foreign Currency Transaction:</h5>
<p>If you effect a transaction at a merchant that settles in a currency other than U.S. dollars, the transaction will be converted into U.S. dollars. The applicable system provider (i.e., VISA, MasterCard) will use its currency conversion procedure, which is generally a government-mandated rate of the wholesale rate in effect the day before the transaction processing date, increased by 1.0%. The currency conversion rate used on the processing date may differ from the rate that would have been used on the transaction date on your statement. </p>


<h5>Charges for Electronic Funds Transaction Services: </h5>
<p>All charges associated with our Electronic Funds Transactions are disclosed in our Schedule of Fees. You understand if there are fees and charges for special services that you may request they may be charged to you in accordance with our current Schedule of Fees. If you request a copy of the documentation relative to an ATM, Point-of-Sale, INFO TELLER, HOME BRANCH or Bill Payer transaction (except if the documentation is for resolution of a billing error) a fee equal to our reasonable cost of reproduction will be charged. Any fees charged will be deducted from your accounts. Third party ATM service providers may charge additional transaction fees which you are also responsible to pay. </p>

<h5>Change in Terms: </h5>
<p>We may change the terms and charges for the services indicated in this Electronic Services Disclosure and may amend this Disclosure and Agreement from time to time. If you have an account with us through whom electronic transactions are being processed, you will receive written notice at least thirty (30) days prior to the effective date of the change(s), or as otherwise provided by law. </p>

<h5>Responsibility for Overdraft(s): </h5>
<p>You understand that you are responsible for all transactions initiated by you or any person you may authorize to use any Electronic Fund Transaction Service. In addition to any other remedies available to us, if no funds are available, you will repay upon demand any overdraft(s) in addition to collection costs, reasonable attorneys' fees, court costs and any charges incurred. </p>

<h5>Disclosure of Funds Availability: </h5>
<p>You understand and agree that we accept funds deposited at an ATM subject to verification and collection, and receipts issued by an ATM are binding only after verification. We may place a hold for uncollected funds on an item you deposit. This could delay your ability to withdraw such funds. The delay will depend upon our policies as permitted by law, and you should refer to our Funds Availability Policy for details. </p>

<h5>Ownership of Card: </h5>
<p>The term Card means any Debit card, used as an ATM card, or any Point-of-Sale card or combination thereof and is subject to this Disclosure and Agreement. The Card is our property and you agree to surrender the Card to us promptly upon demand. We may revoke the Card at any time without notice or liability and may recall the card by retrieval through an ATM. </p>

<h5>Right to Receive Documentation of Transactions: </h5>
<h5>Transaction Receipt: </h5>
<p>You will receive a receipt at the time you perform any transaction on your account(s) using one of the ATM or Point-Of-Sale terminals. You should retain this receipt to compare with your statement from us. 
</p>

<h5>Periodic Statement: </h5>
<p>You will receive a monthly statement (unless there are no transfers in a particular month), for the accounts(s) which you have accessed using the ATMs, Point-of-Sale terminals. INFO TELLER, HOME BRANCH and Bill Payer transactions, which will show the calendar date that the transaction occurred, the type of transaction and the type of account(s) accessed, and the amount of transaction occurring in that statement period. You will get a statement at least quarterly. </p>

<h5>Your Liability for Unauthorized Transactions and Advisability of Prompt Reporting: </h5>
<p>Tell us AT ONCE if you believe your Card or PIN has been lost or stolen. Telephoning is the best way to keep your possible losses down. You could lose all the money in your account plus your maximum limit). If you believe your Card and/or PIN has been lost or stolen, and you tell us within two (2) business days after you learn of the loss or theft, you can lose no more than $50.00 if someone used your Card and/or PIN without your permission. </p>
<p>If you DO NOT tell us within two (2) business days after you learn of the loss or theft of your Card and/or PIN, and we can prove we could have stopped someone from using your Card and/or PIN without your permission if you had told us, you could lose as much as $500.00. </p>

<p>Also, if your statement shows transactions that you did not make, you must tell us at once. If you DO NOT tell us within sixty (60) days after the statement was mailed to you, you may not get back any money you lost after the sixty (60) days if we can prove that we could have stopped someone from taking the money if you had told us in time. </p>

<p>If you can document a good reason (such as a long trip or hospital stay) that kept you from telling us, we may extend the time period. </p>

<h5>Telephone Number and Address to be Notified in Event of an Unauthorized Transaction: </h5>
<p>If you believe your Card and/or PIN has been lost or stolen or that someone will or may use it to transfer money from your account without your permission, you must either write us or telephone us at the address or telephone numbers shown on the front panel. </p>
<p>Verification and Posting of Transaction: All transactions affected by use of the ATMs, Point-Of-Sale, INFO TELLER, HOME BRANCH and Bill Payer which would otherwise require your signature, or other authorized signature, shall be valid and effective as if signed by you when accomplished by use of the Card and/or PIN. Deposits at an ATM are subject to verification by us and may only be credited or withdrawn in accordance with our "Funds Availability Policy." We are not responsible for delays in a deposit posting due to improper identification in the deposit envelope. This identification should include your name; your member number and where you would like the deposit/payment credited (i.e., Savings, Loan Payments, suffix/type, etc.). </p>

<p>Regulation "D" Restrictions on Electronic Funds Transfers: Pre-authorized, automatic or telephone withdrawals or transfers from Savings Accounts are limited to no more than six (6) transfers in each calendar month. No more than three of the six withdrawals or transfers may be made by check, share draft or other order. However, you may make an unlimited number of withdrawals from or transfers among your own Share Accounts by mail, messenger or in person at the Credit Union or at an ATM. You may also make an unlimited number of withdrawals from our savings accounts through INFO TELLER and HOME BRANCH or by telephone if you request that we send you a check. Transfers or withdrawals in excess of the above limitations may subject your account to a fee and a reclassification to a demand account. </p>

<h5>Termination of Electronic Funds Transaction Services: </h5>
<p>You may cancel any of the electronic services provided for in this Disclosure and Agreement by sending us a letter stating that you wish to cancel the services and returning any associated Card(s) to us. Your letter should be addressed to us at our address appearing on the monthly statement or the address above. We may cancel or suspend any electronic services provided to you, with or without cause, at any time by giving you only such notice as is required by law. We may do so immediately if: </p>

<ol>
	<li>You or any authorized user of any electronic service account(s) breaches this or any other agreement with the Credit Union; </li>
    <li>We have reason to believe there has been, or might be, an unauthorized use of your electronic services account(s); or </li>
    <li>You or any authorized user of your electronic services account(s) requests us to do so. </li>
</ol>
        
<p>If we cancel or suspend ATM service, you must immediately return all Cards and any other access devices to us. Any use of Cards after we have canceled or suspended your electronic services may be considered fraudulent. Termination or discontinuance of any service shall not affect your liability or obligation under this Agreement. </p>

<h5>Relationship to Other Disclosures: </h5>
<p>The information in these disclosures applies only to Electronic Services Transactions. Provisions in other disclosure documents, as may be revised from time to time, remain effective for all other aspects of the account involved. 
</p>

<h5>Collections:</h5>
<p>You agree that the Credit Union shall be entitled to recover any money owed by you as a result of your use of any of the electronic services and you agree to repay any amounts which create an overdrawn balance immediately upon demand. You may be charged an overdraft fee. The Credit Union has a security interest in your present and future shares and has the right to apply such shares to any money you owe. If any legal action is required to collect any money you owe, you agree to pay all costs of collection, including reasonable attorney's fees, court costs, and other charges incurred for enforcing our rights under this agreement. </p>

<h5>Other Agreements:</h5>
<p>Except as stated otherwise in this Agreement, this Agreement does not alter or amend any of the terms or conditions of any other agreement you may have with the Credit Union </p>

<h5>Severability:</h5>
<p>If any part of this Agreement should be held to be unenforceable, the remaining provisions of this Agreement shall remain in full force and effect. </p>

<h5>Applicable Law: </h5>
<p>This Agreement and Disclosure shall be construed and governed by the laws of the State of Kentucky. </p>

<h5>Copy Received: </h5>
<p>You acknowledge receipt of a copy of this Disclosure and Agreement. </p>


<p class="redlarge">ADDITIONAL DISCLOSURES APPLICABLE TO PREAUTHORIZED DEPOSIT OF PAYCHECKS, PENSION CHECKS AND FEDERAL RECURRING PAYMENTS </p>
<p>If you have arranged to have pre-authorized electronic deposits of your paychecks, pension checks or Federal Recurring Payments (for example: Social Security payments), the following applies to you: </p>

<h5>Account Access: </h5>
<p>Pre-authorized deposits may be made to your Primary or Regular Savings Account(s), Share draft Checking Account(s), CIA or CCIA. Adjustments to these deposits will be honored. </p>

<h5>Notification of Pre-authorized Deposits: </h5>
<p>If you have arranged with a third party (for example, the Social Security Administration) to make pre-authorized deposits to your account at least once every sixty (60) days, you may call us at (502) 429-4955 or (800) 288-5228 and we will advise you whether or not the pre-authorized deposit has been made. </p>

<p class="redlarge">ADDITIONAL DISCLOSURES APPLICABLE TO PRE-AUTHORIZED PAYMENT SERVICES </p>
<p>If you have requested a pre-authorized payment to a third party from any Credit Union account, the following applies to you: </p>

<h5>Account Access: </h5>
<p>Pre-authorized payments may be made from checking accounts. </p>

<h5>Right to Receive Documentation of Pre-authorized Payment: </h5>
<h5>Initial Authorization: </h5>

<p>You can get copies of the pre-authorized payment documentation from the third party being paid at the time you give them the initial authorization. </p>

<h5>Notice of Varying Amounts: </h5>
<p>If your pre-authorized payment varies in amount, the party who will receive the payment is required to tell you ten (10) days before such payment, when it will be made and how much it will be. You may agree with the party being paid to receive this notice only when the payment will differ by more than a certain amount from the previous payment, or when the amount would fall outside certain limits that you set. </p>

<h5>Right to Stop Pre-authorized Payment: </h5>
<p>If you want to stop any of the pre-authorized payments, you must write to us at the addresses previously shown, in time for us to receive your stop request no less than three (3) business before the next payment is scheduled to be made. If you call, we will also require you to put your request in writing and get it to us within fourteen (14) days after your call. We will charge you for each stop payment order you give, which charge is set forth in our schedule of fees. SUCH STOP PAYMENT NOTICE WILL APPLY ONLY TO THAT PARTICULAR PAYMENT. You understand and agree that you must also promptly contact the third party to cancel (revoke) the entire pre-authorized payment authorization and provide us with a copy of your written revocation notice to the third party. </p>

<h5>Our Liability for Failure to Stop Payment: </h5>
<p>If you provide us accurate information and order us to stop one of your pre-authorized payments three (3) business days or more before the transfer is scheduled, and we do not do so, we will be liable for your losses or damages, to the extent provided by law. </p>

<h5>Liability for Unauthorized Electronic Payments: </h5>
<p>You will be liable for all transfers made from your account by a third party except as provided above for stop payments. If you believe an unauthorized transfer has occurred, follow the procedures outlined in the "General Disclosures Applicable to All Electronic Services" section. </p>

<p class="redlarge">ADDITIONAL DISCLOSURES APPLICABLE TO INFO TELLER</p>
<p>If you use your Jefferson County Federal Credit Union confidential Personal Identification Number (PIN) to access INFO TELLER, the following applies to you: Types of Available Transactions When Using INFO TELLER: </p>

<ol>
	<li>Inquiries on account balances; </li>
    <li>Transfers to and from savings accounts, checking accounts, and/or lines of credit; </li>
    <li>Changes to your PIN; </li>
    <li>Request a withdrawal check; </li>
    <li>Transfer of loan payments; </li>
    <li>Additional services as we may offer from time to time. </li>
</ol>

<h5>Limitations on Frequency and Dollar Amount of Transactions: </h5>
<p>Transfers through INFO TELLER in terms of frequency (to the extent allowed under Regulation D) are unlimited, the dollar amount is only limited to the extent you have funds available in your account(s). </p>

<p class="redlarge">ADDITIONAL DISCLOSURES APPLICABLE TO INFO TELLER, HOME BRANCH AND BILL PAYER SERVICE</p>
<h5>Account Selection: </h5>
<p>Registering for multi-account access will allow you to transact on all accounts and/or suffixes on which you are an owner or a joint owner. You can not select individual accounts and/or suffixes for multi-account INFO TELLER, HOME BRANCH or Bill Payer access. </p>

<h5>Joint Accounts: </h5>
<p>If you give your joint owner your Personal Identification Number (PIN), that joint owner will have the same multi-account access you have once you register for this service. Accordingly, the release of your PIN to any individual, including any joint owner on any account, constitutes your authorization for that individual to withdraw funds via INFO TELLER, HOME BRANCH and Bill Payer from any account or line of credit on which you are an owner or a joint owner. </p>

<p class="redlarge">ADDITIONAL DISCLOSURES APPLICABLE TO ATM AND POINT-OF-SALE ELECTRONIC FUND TRANSACTIONS </p>
<p>If you request Jefferson County Federal Credit Union to issue you a Debit card now or in the future which can be used with your PIN to make electronic transactions, then the following information applies to you: </p>

<h5>Types of Available Transactions and Limits on Transactions: </h5>

<p>Types of available transactions are listed below. Transaction types and services may be limited at ATM and Point-Of-Sale terminals maintained by an institution other than Jefferson County Federal Credit Union. Transactions at certain ATMs not owned by us may be subject to a service fee charged by the terminal owner. </p>

<h5>Account Access: </h5>

<p>the ATM and/or POS services we make available to you and which are covered by this Disclosure and Agreement are: </p>

<ol>
	<li>ATM withdrawals of cash from your accounts; </li>
    <li>ATM deposits (where available) to your savings or checking accounts; </li>
    <li>Point-Of-Sale purchases of goods, services and/or cash advances from merchants, financial institutions or others that honor the Card, automatically debited from your checking account; </li>
    <li>Additional services as we may offer from time to time. </li>
</ol>

<h5>Limitations on Frequency and Dollar Amount of Transactions when using the ATM Card: </h5>
<ol>
	<li>You may withdraw up to $500.00 (or your limit whichever is less) from ATMs each 24-hour period, provided you have available funds in your account(s). The minimum/maximum transaction may vary at each ATM. </li>
    <li>You may make cash withdrawals, advances or purchases only to the extent you have available funds in your checking account and/or overdraft source. </li>
</ol>
        
  <h5>Your Debit Card and PIN: </h5>
  <p>When using your card at an ATM or Point-Of-Sale terminal, or when using your PIN, the following conditions must be observed for both the privacy and protection of your account: </p>
  
  <ol>
  	<li>Keep your Card in a safe place and permit no unauthorized person to use it; </li>
    <li>Memorize your PIN. Do not tell any unauthorized person your PIN or write your PIN on your Card or otherwise make it available to anyone else. If you forget your PIN, you must make a request in writing to us for a duplicate; </li>
    <li>Tell us immediately of any loss or theft of your Card and/or PIN. If you authorize us to issue a Card (or any other access device) to anyone else, you authorize that individual to withdraw funds from any account or line of credit which can be assessed by the Card or PIN regardless of whether that individual is authorized to withdraw money from the account or line of credit by means other than by use of the Card or PIN; </li>
    <li>You agree not to request electronic withdrawals in amounts that would overdraft your accounts. If you do, we may, at our option, clear the overdraft(s) by (1) securing the funds from any other account you own, (2) making a loan advance (if applicable), and finance charges will be assessed at an Annual Percentage Rate in accordance with the terms and conditions of your Jefferson County Federal Credit Union credit account agreement, (3) using SafeLanding Overdraft Protection option and/or we may terminate the account; </li>
    <li>You agree to indemnify and hold us harmless from any costs, including reasonable attorneys' fees and damages which we sustain as a result of carrying out your instructions. 
</li>
<li>When you use an ATM not owned by us, you may be charged a fee for a balance inquiry even if you do not complete a fund transfer. </li>
  </ol>
  
  <h5>Safety at the ATM: </h5>
  <p>At all times when using the ATM, use caution and common sense. If you drive, be sure to lock your vehicle when you leave it. In any event, have your card in hand as you approach the machine. Avoid reaching into your purse or wallet in front of the ATM. Have transactions ready before going to the ATM, with cash or checks sealed in a deposit/payment envelope. Avoid counting your cash at the ATM. If you feel unsafe in any way, leave immediately. ATM use at night should be in well-lit areas. Consider having someone accompany you to the ATM. When using drive-up ATMs, take responsible precautions such as observing the area for anything unusual or suspicious. Locking your doors and rolling up the passenger window before you enter the drive-up lane is also recommended. Don't fall for "con" games. If anyone asks you to withdraw money for any reason, leave the area immediately. As soon as you feel secure, notify us via e-mail or phone at (502) 429-4955 or 800-288-5228 and the manager of the financial institution where this occurred. Always inform your local law enforcement officials of the incident. </p>
  
  <h5>Making Electronic Fund Transactions: </h5>
  
  <p>You agree to follow the instructions posted or otherwise given by us or any ATM or Point-Of-Sale network concerning the use of their terminals. </p>
  
  <p class="redlarge">ADDITIONAL DISCLOSURE APPLICABLE TO HOME BRANCH AND BILL PAYER SERVICES </p>
  
  <p>HOME BRANCH is a service which will allow you to access your account(s) through the use of a personal computer, communications software, a modem and your Personal Identification Number (PIN) through the Internet and will enable you to perform monetary transactions and account inquiries. If you have requested and been approved for use of the HOME BRANCH, the information below applies to you: </p>
  
  <h5>Account Access: </h5>
  <p>Your savings and checking accounts, and loan accounts may be accessed for HOME BRANCH and Bill Pay services. </p>
  
  <h5>Types of Available Transactions: </h5>
  <p>You may use your Personal Identification Number (PIN) to process the following requests and transactions on the Credit Union account for which the PIN has been assigned. </p>
  
  <ol>
  	<li>Account balance and transaction history; </li>
    <li>Transfers between your authorized accounts; </li>
    <li>Transfers to process loan payments and loan add-ons against other line(s) of credit; </li>
    <li>Withdrawals in the form of a Credit Union check payable to the primary member and mailed to the current account address; </li>
    <li>Order checks; </li>
    <li>Change your PIN; </li>
    <li>Third party bill payments through Bill Payer (see Agreement below), a separate HOME BRANCH service; </li>
    <li>Additional services as we may offer from time to time </li>
  </ol>
  
  <h5>Limitation on Frequency and Dollar Amount of Transactions: </h5>
  <ol>
  	<li>Account withdrawals directly to you through the HOME BRANCH are unlimited to the extent that you have funds available in your account(s). </li>
    <li>Account transfers through HOME BRANCH, including "Bill Payer" transactions are unlimited to the extent allowed by Regulation D. </li>
  </ol>
  
	<h5>Bill Payer Agreement - General Requirements: </h5>
    <ol>
    	<li>You must have a checking account opened and in good standing to use Bill Payer. </li>
        <li>You agree to pay promptly all fees and charges for services provided under this Agreement, and authorize us to charge any of your account(s) for any outstanding charges. </li>
        <li>If you close your checking account, you must notify us to cancel your Bill Payer.</li>
        <li>You must retain sufficient funds in the checking account from which bills are being paid or your Bill Payer may be canceled at any time without prior notice.</li>
        <li>If you do not schedule or process a payment on your Bill Payer for any three (3) month period we reserve the right to disconnect your service. Please note that your online bill payment information will be lost if you are disconnected.</li>
        <li>If you do not access your account via the HOME BRANCH for any three (3) month period, we reserve the right to disconnect your service. </li>
        <li>You agree to be responsible for any telephone charges, which you incur by accessing your accounts through HOME BRANCH. </li>
        <li>You agree that we reserve the right to terminate the use of Bill Payer at any time. </li>
    </ol>
    
    <h5>Liability Regarding Software and Hardware: </h5>
    
    <p>Except as specifically provided in this Agreement or where the law requires a different standard, you agree that neither we nor the service providers shall be responsible for any loss property damage or bodily injury, whether caused by the equipment, software, OR by Internet browser such as Netscape (Netscape Navigator browser) and Microsoft (Microsoft Explorer browser), OR by Internet access providers OR by online service providers OR by an agent or sub contractor or any of the foregoing. Nor shall we or the service providers be responsible for any direct, indirect, special or consequential, economic or other damages arising in any way out of the installation use of maintenance or the equipment, software or Internet browser. </p>
    
    <h5>Bill Payer Service: </h5>
    
    <p>Bill Payer allows you to schedule bill payments through HOME BRANCH. You can arrange, at your option, for the payment of your current future and recurring bills from your checking account, up to a maximum of $99,999 per payee/merchant each business day. There is no limit to the number of payments that may be authorized. You may pay any merchant or individual approved by the bill payer vendor for payment through the Bill Payer system. We are unable to process any payments to federal, state or local tax agencies or courts. </p>
    
    <p>By furnishing us with the names of your payees/merchants and their address, you authorize us to follow the payment instructions to these payee/merchants that you provide us via Bill Payer. When we receive a payment instruction (for a current or future date), we will remit funds to the payee through the Bill Payer processor, from the available funds in your checking account, on the "Processing Day". However, we shall not be obligated to make any such payment unless your account has sufficient funds to pay the bill on the Processing Date. Funds for bill payments, (whether these payments are made electronically or by check) will be withdrawn from your account ON THE PROCESSING DAY. </p>
    
    <p>NOTE: Any payment made with Bill Payer requires sufficient time for your payee to credit your account properly. To avoid incurring a finance charge or other charge you must schedule a payment sufficiently in advance of the due date of your payment. </p>
    
    <p>When you schedule payments: YOU MUST SCHEDULE THE PAYMENT AT LEAST 7 FULL BUSINESS DAYS PRIOR TO THE DATE THE PAYMENT IS DUE AT YOUR PAYEE. </p>
    
    <h5>Cancel Scheduled Payments: </h5>
    <p>You have the right to cancel or change any scheduled payment. You must cancel the scheduled payment by no later than 10 a.m., on the Processing Date, by Editing or Deleting the scheduled payment. </p>
    
    <h5>Liability Regarding Payment: </h5>
    <p>If we do not properly complete a bill payment on time or in the correct amount we will assist you where possible to correct it. We shall not be responsible for any charges imposed or any other action taken by a payee who refuses the payment for any reason, or resulting from a payment that you have not scheduled properly; including any applicable finance charges and late fees. In addition, we will not be liable if any third party through who any bill payment is made fails to properly transmit the payment to the intended payee. We will also not be liable if there are insufficient funds in the designated payment account; if a legal order directs us to prohibit withdrawals from the payment account; if the payment account is closed or frozen; or if any part of the electronic fund transfer system is not working properly. We will not be liable for indirect, special, or consequential damages arising out of the use of Bill Payer. </p>
    
    <p>HOME BRANCH, INFO-TELLER &amp; BILL PAYER users agree to all terms stated herein once their account has been accessed by either means. </p>
    
    <p>JCFCU – 08-29-05 </p>
        </div>
    </div>