<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
        <h2><a name="top" id="top"></a>Participating Indirect Lending Dealerships</h2>
        <table>
        <tr>
        <td>
        <span class="bold">Advantage Auto Sales &amp; Leasing</span><br />
        7304 Preston Hwy<br />
        Louisville, KY 40219
        </td>
        <td><span class="bold">Coyle Dodge</span><br />
        411 E. Spring Street<br />
New Albany, IN 47150
        </td>
        <td><span class="bold">Oxmoor Toyota</span><br />
        8003 Shelbyville Road<br />
Louisville, KY 40222
        </td>
        </tr>
        <tr>
		<td><span class="bold">Bachman Chevrolet</span><br />
        9650 Bluegrass Pkwy<br />
        Louisville, KY 40299
        </td>
        <td><span class="bold">Craig &amp; Landreth Cars</span><br />
5357 Dixie Hwy<br />
Louisville, KY 40216
        </td>
        <td><span class="bold">Saturn of Louisville</span><br />
         Swope Auto Center<br />
Louisville, KY 40299
        </td>
        </tr>
        <tr>
		<td><span class="bold">Bachman Volkswagen-Subaru</span><br />
9652 Bluegrass Pkwy<br />
Louisville, KY 40299

        </td>
        <td><span class="bold">Craig &amp; Landreth Cars</span><br />
1700 S. Hurstbourne Pkwy<br />
Louisville, KY 40220
        </td>
        <td><span class="bold">Sloane Pontiac Buick GMC</span><br />
         406 E. Hwy 131<br />
Clarksville, IN 47129
        </td>
        </tr>    
        <tr>
		<td><span class="bold">Bales Motors</span><br />
630 Broadway<br />
Jeffersonville, IN 47130

        </td>
        <td><span class="bold">Craig &amp; Landreth Pre-Owned</span><br />
619 E. Lewis &amp; Clark Pkwy<br />
Clarksville, IN 47129

        </td>
        <td><span class="bold">Springhurst Chevrolet</span><br />
10500 Westport Road<br />
Louisville, KY 40241
        </td>
        </tr>   
        <tr>
		<td><span class="bold">Bob Hook Chevrolet</span><br />
4144 Bardstown Road<br />
Louisville, KY 40218
        </td>
        <td><span class="bold">Cross Motors</span><br />
1501 Gardiner Lane<br />
Louisville, KY 40218
        </td>
        <td><span class="bold">Standiford Field Auto Sales</span><br />
4023 Shelbyville Road<br />
Louisville, KY 40207
        </td>
        </tr>    
        <tr>
		<td><span class="bold">Bob Hook of Shelbyville</span><br />
700 Hwy 55<br />
Shelbyville, KY 40065

        </td>
        <td><span class="bold">David's Cars</span><br />
6203 Shepherdsville Road<br />
Louisville, KY 40228
        </td>
        <td><span class="bold">Swope the Big Lot</span><br />
9 Swope Auto Center<br />
Louisville, KY 40299
        </td>
        </tr>  
        <tr>
		<td><span class="bold">Byerly Ford</span><br />
4041 Dixie Highway<br />
Louisville, KY 40216
        </td>
        <td><span class="bold">Downtown Ford</span><br />
809 S. 5th Street<br />
Louisville, KY 40203
        </td>
        <td><span class="bold">Swope BMW</span><br />
3 Swope Auto Center<br />
Louisville, KY 40299

        </td>
        </tr>   
        <tr>
		<td><span class="bold">Byerly Nissan</span><br />
4027 Dixie Highway<br />
Louisville, KY 40216
        </td>
        <td><span class="bold">Enterprise Car Sales</span><br />
3718 Bardstown Road<br />
Louisville, KY 40218
        </td>
        <td><span class="bold">Swope Courtesy Cadillac</span><br />
6 Swope Auto Center<br />
Louisville, KY 40299
        </td>
        </tr>    
        <tr>
		<td><span class="bold">Capital Funding Inc.</span><br />
8706 Bayberry Place<br />
Louisville, KY 40242
        </td>
        <td><span class="bold">Fern Creek Auto Sales</span><br />
6203 Bardstown Road<br />
Louisville, KY 40291
        </td>
        <td><span class="bold">Swope Honda</span><br />
1 Swope Auto Center<br />
Louisville, KY 40299

        </td>
        </tr>   
        <tr>
		<td><span class="bold">Carbiz Inc.</span><br />
503 S. 1st Street<br />
LaGrange, KY 40031
        </td>
        <td><span class="bold">Gordon's Motor Sports</span><br />
2101 S. Hurstbourne Parkway<br />
Louisville, KY 40220
        </td>
        <td><span class="bold">Swope Infinity</span><br />
8 Swope Auto Center<br />
Louisville, KY 40299

        </td>
        </tr>    
        <tr>
		<td><span class="bold">Cardinal Chrysler-Jeep-Dodge</span><br />
5311 Dixie Highway<br />
Louisville, KY 40216
        </td>
        <td><span class="bold">Hyundai of Louisville</span><br />
6633 Dixie Highway<br />
Louisville, KY 40258
        </td>
        <td><span class="bold">Swope Just Trucks</span><br />
4120 Bardstown Road<br />
Louisville, KY 40218
        </td>
        </tr>   
        <tr>
		<td><span class="bold">Carriage Ford</span><br />
908 E. Hwy 131<br />
Clarksville, IN 47129
        </td>
        <td><span class="bold">Jeff Wyler's Toyota</span><br />
808 E. Hwy 131<br />
Clarksville, IN 47131
        </td>
        <td><span class="bold">Swope Mitsubishi</span><br />
11 Swope Auto Center<br />
Louisville, KY 40299
        </td>
        </tr>     
        <tr>
		<td><span class="bold">Champion Chevrolet Pontiac Buick</span><br />
502 S. 1st Street<br />
LaGrange, KY 40031
       </td>
        <td><span class="bold">Lexus of Louisville</span><br />
4 Swope Auto Center<br />
Louisville, KY 40299
        </td>
        <td><span class="bold">Swope Pontiac Buick GMC</span><br />
7 Swope Auto Center<br />
Louisville, KY 40299
        </td>
        </tr>           
        <tr>
		<td><span class="bold">Clapp Oldsmobile Volkswagen</span><br />
125 W. Lewis &amp; Clark Pkwy<br />
Clarksville, IN 47129
       </td>
        <td><span class="bold">Montogmery Chevrolet Honda</span><br />
5340 Dixie Highway<br />
Louisville, KY 40216
        </td>
        <td><span class="bold">Swope Pontiac Buick GMC</span><br />
7 Swope Auto Center<br />
Louisville, KY 40299
        </td>
        </tr>   
        <tr>
		<td><span class="bold">Collins Ford</span><br />
4220 Bardstown Road<br />
Louisville, KY 40218
       </td>
        <td><span class="bold">Neil Huffman Auto Group</span><br />
4126 Shelbyville Road<br />
Louisville, KY 40207

        </td>
        <td><span class="bold">Swope Pontiac GMC South</span><br />
4126 Shelbyville Road<br />
Louisville, KY 40207
        </td>
        </tr>   
        <tr>
		<td><span class="bold">Cook &amp; Reeves Cars</span><br />
4443 Dixie Hwy<br />
Louisville, KY 40216 
       </td>
        <td><span class="bold">Oxmoor Ford-Lincoln-Mercury</span><br />
100 Oxmoor Lane<br />
Louisville, KY 40222
        </td>
        <td><span class="bold">Swope Toyota of Louisville</span><br />
6514 Dixie Hwy<br />
Louisville, KY 40258
        </td>
        </tr>    
        <tr>
		<td><span class="bold">Coyle Chevrolet</span><br />
1801 Broadway<br />
Clarksville, IN 47129 
       </td>
        <td><span class="bold">Oxmoor Hyundai</span><br />
7913 Shelbyville Road<br />
Louisville, KY 40222
        </td>
        <td><span class="bold">Vissing's Dodge</span><br />
115 Eastern Blvd<br />
Jeffersonville, IN 47130
<p><span class="bold">Wilsons Auto Sales</span><br />
10309 Taylorsville Road<br />
Louisville, KY 40299 </p>
        </td></tr>      
        </table>
        
        <h5>Auto Shopping and Credit Union Financing Unite!</h5>
        <%= image_tag "hereandnowweb.jpg", :class=>"image fleft", :alt=>"" %><p>Jefferson County FCU is now offering an Indirect Automobile Lending Program. Members are able to go to any <%= link_to "participating dealerships", :anchor=>"top" %>, purchase a new or used vehicle, and have it financed at the Credit Union without having to come to the Credit Union! The Credit Union Loan Department works with the dealerships on the approval process. Most decisions are made within one hour. </p>
        
        <p>So, if you have &quot;new car fever&quot; while at the <%= link_to "participating dealerships", :anchor=>"top" %>, you can obtain &quot;Here &amp; Now Financing&quot; from your credit union. </p>
        
        
        </div>
    </div>