<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
    	<h2>Our Credit Union</h2>
        <h5>Mission Statement</h5>
        <p class="ourcu">The Jefferson County Federal Credit Union pledges to provide quality financial services, in a personal way that meets our members’ needs. </p>
        
        <h5>Credit Union History</h5>
        <p class="ourcu">Originally chartered in 1969 as a credit union to serve the Jefferson County Police and then the employees of Jefferson County Government, the Jefferson County Federal Credit Union currently serves the employees of the Louisville - Jefferson County Metro Government as well as the employees of over three hundred companies and associations located primarily throughout the Greater Louisville Area. In the summer of 2004 membership in Jefferson County Federal Credit Union became open to persons who live, work, worship, or attend school in, and businesses and other legal entities located in Jefferson, Bullitt, Spencer, Shelby, Oldham, Henry or Trimble Counties in Kentucky or Clark or Floyd Counties in Indiana. Additionally spouses of persons who died while within the field of membership of this credit union; volunteers in the community; members of the immediate family or household; and organizations of such persons are also eligible. </p>
        
        <h5><a name="offices" id="offices"></a>Locations &amp; Office Hours</h5>
        <table class="center">
        	<tr>
            <td colspan="2"><p class="center"><span class="bold">Main Office</span><br />9600 Ormsby Station Road  <br />
Louisville, KY 40223  <br />
(502) 429-4955 or (800) 288-5228  <br />
Hours: M-T-W-T - 9:00 am - 4:30 pm  <br />
Friday - 9:00 am - 6:30 pm  </p></td>
          </tr>
            <tr>
            	<td><span class="bold">Outer Loop &amp; Smyrna Road</span><br />6446 Outer Loop<br />
Louisville, KY 40228  <br />
(502) 964-9899  <br />
Hours: M-T-W-T - 9:00 am - 4:30 pm   <br />
Friday - 9:00 am - 6:30 pm </td>
                <td>
                <span class="bold">Court House Annex Bldg.</span><br />Suite 104 - 517 Court Place <br />
Louisville, KY 40202  <br />
(502) 574-6445<br />
Hours: 8:30 am - 4:30 pm daily</td>
            </tr>
            <tr>
                <td>
                <span class="bold">Urban Government Center</span><br />Suite 105 - 810 Barret Avenue <br />
Louisville, KY 40204  <br />
(502) 574-6213 <br />
<span class="underline bold">Currently:</span><br />
Hours: 8:30 am - 4:30 pm daily <br />
<span class="underline bold">Effective 08-16-10</span><br />
 Hours: M-T-W-T - 9:00 am - 4:30 pm <br />
Friday - 9:00 am - 5:30 pm<br />
Closed Daily 1:00 to 1:30 PM
</td>
                <td>
                <span class="bold">Indiana Branch</span><br />Federal Building - 'A' Wing - Room 157
<br />1201 E Tenth Street <br />
Jeffersonville, IN 47130 <br />
(812) 218-2848 <br />
Hours: 8:30 am - 4:30 pm daily </td>
            </tr>
            <tr>
                <td>
                <span class="bold">Shared Branch I</span><br />4917-B Dixie Hwy. <br />
Louisville, KY 40216 <br />
(502) 448-1686 <br />
Hours: Daily 9:00 am - 7:00 pm and Sat. 9-2 <br />
(Open on some of our Holidays) </td>
                <td>
                <span class="bold">Shared Branch II</span><br />2925 Goose Creek Rd<br />
Louisville, KY  40241  <br />
(502) 429-0068 <br />
Hours: Daily 9:00 am - 7:00 pm and Sat. 9-2 <br />
(Open on some of our Holidays) </td>
            </tr>                        
        </table>
        
        <p class="center bold">Find one of over 4,100 Service Center Locations Nationwide<br /><%= link_to "(CLICK HERE)", "http://www.cuservicecenter.com/", :rel=>"confirm external" %></p>
		<h5><a name="sharedbranch" id="sharedbranch"></a>SHARED BRANCH INFORMATION</h5>
        <p class="ourcu">Check their website for locations near you or where you plan to travel at <%= link_to "www.creditunion.net", "http://www.creditunion.net/", :rel=>"confirm external" %>. If you do not have access to a computer you can call 1-800-919-2872 for a location near you when you are out of the Louisville area. You can search by zip code or street address. </p>
        <p class="ourcu">Because of serving many, many different institutions, all services offered by your credit union cannot be made available in the shared branch environment. Shared branches have extended hours, drive-in lanes and surcharge free ATMs (local) that some of our regular branches do not have. You can cash checks, make loan payments, make regular share and share draft transactions, obtain open-end loan advances and purchase traveler checks, VISA Gift Cards and money orders. You cannot open or close accounts, close loans, transact business on IRA or certificate of deposit accounts. The amount of currency you can get in a day may be limited. </p>
        
        <h5><a name="closings" id="closings"></a>2010 Office Closing Schedule</h5>
        <table class="center">
        <tr class="bold highlight">
        <td>Offices Closed in Observance of:</td>
        <td>Date:</td>
        </tr>
        <tr>
        <td>Martin Luther King Day*</td>
        <td>Monday, January 18</td>
        </tr>
        <tr class="highlight">
        <td>President's Day*</td>
        <td>Monday, February 15</td>
        </tr>
        <tr>
        <td>Memorial Day</td>
        <td>Monday, May 31</td>
        </tr>
        <tr class="highlight">
        <td>Independence Day</td>
        <td>Monday, July 5</td>
        </tr>
        <tr>
        <td>Labor Day</td>
        <td>Monday, September 6</td>
        </tr>
        <tr class="highlight">
        <td>Columbus Day*</td>
        <td>Monday, October 11</td>
        </tr>
        <tr>
        <td>Veterans Day*</td>
        <td>Thursday, November 11</td>
        </tr>
        <tr class="highlight">
        <td>Thanksgiving Day</td>
        <td>Thursday, November 25</td>
        </tr>
        <tr>
        <td>Christmas Eve</td>
        <td>Thursday, December 23 (Close at 12:30pm)</td>
        </tr>
        <tr class="highlight">
        <td>Christmas Day</td>
        <td>Friday, December 24</td>
        </tr>
        <tr>
        <td>Year End Processing</td>
        <td>Thursday, December 30 (Close at 12:30pm)</td>
        </tr>
        <tr class="highlight">
        <td>New Years Day</td>
        <td>Friday, December 31, 2010</td>
        </tr>
        <tr>
        <td colspan="2">*Louisville shared branch locations open </td>
        </tr>
</table>
           <h5>How to Contact Us</h5>
           <div class="ourcu">
           <p><span class="bold">Phone:</span> (502) 429-4955 or (800) 288-5228</p>
           <p><span class="bold">Info Teller:</span> (502) 429-4955 or (800) 288-5228 and press 1</p>
           <p><span class="bold">FAX:</span> (502) 429-8508  </p>
           <p><span class="bold">E-Mail:</span> <%= mail_to "mail@jcfcu.org", "mail@jcfcu.org" %></p>
           </div>
           
           <h5>Emergency Notification Numbers</h5>
           <ul>
           <li>If you lose or have your CREDIT CARD stolen Call 1-888-918-7321 </li>
           <li>If you lose or have your DEBIT CARD or ATM CARD stolen Call 1-800-528-2273</li>
           </ul>
          
          <h5>Credit Counseling</h5>
          <p class="ourcu">Call 1-866-686-6322 </p>

        </div>
    </div>