<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
            <h2>Privacy Notice</h2>
            <p>
                The Jefferson County Federal Credit Union (JCFCU) is a not for
                profit financial institution owned by its membership and guided by an
                elected board of directors. You can be confident that your financial
                privacy is a top priority of this credit union. JCFCU is required by
                law to give you this privacy notice to explain how we collect, use and
                safeguard your personal financial information. If you have any
                questions, please contact the credit union's Vice President of Members
                Services at (502) 429-4955.
            </p>
            <p>
                JCFCU is committed to providing you with competitive products and
                services to meet your financial needs, which necessitates that we
                share information about you to complete our transactions and to
                provide you with certain financial opportunities. In order to do so,
                we have entered into agreements with other companies that provide
                either services to us or additional financial products for you to
                consider. If you prefer that we not disclose information about you to
                certain businesses, you may &quot;opt out&quot; of these disclosures;
                that is, you may direct us not to disclose information about you, as
                explained in this notice. This &quot;opt out&quot; will not apply to
                information that we may disclose about you as permitted or required by
                law. These disclosures typically include information to process
                transactions on our behalf, conduct the operations of JCFCU, follow
                your instructions as you authorize or protect the security of JCFCU's
                financial records.
            </p>
            <p>
                And we may also disclose all the information we collect, as
                described below, to companies that perform marketing or other services
                on our behalf or to other financial institutions with whom we have
                joint marketing agreements.
            </p>
            <p>
                To protect our members' privacy, we only work with companies that
                agree to maintain strong confidentiality protections and limit the use
                of information we provide. All business partners and approved vendors
                have entered into written agreements with us not to disclose any of
                our members' information and to use this information for the sole
                purpose of providing financial products and services or assistance in
                the completion of ongoing financial services. We do not permit these
                companies to sell to other third parties the information that we
                provide to them.
            </p>
            <p>Information We Collect About You</p>
            <p>JCFCU collects nonpublic personal information about you from the
            following sources:</p>
            <ul>
                <li>Information we receive from you on applications, your membership
                    agreement and other forms;</li>
                <li>Information we receive from a consumer reporting agencies;</li>
                <li>Information provided by our sponsor groups; and</li>
                <li>Information about your transactions with us or others.</li>
            </ul>
            <p>Information We May Disclose About You</p>
            <p>JCFCU may disclose the following kinds of nonpublic personal
                financial information about you:</p>
            <ul>
                <li>Information we receive from you on applications, your membership
                agreement and other forms, such as your name, address, social
                security number and income.</li>
                <li>Information about our transactions with us or other companies
                that work closely with us to provide you with financial products
                and services, such as your account balances, payment history and
                credit card usage.</li>
                <li>Information we receive from a consumer reporting agency, such as
                your creditworthiness and credit history.</li>
            </ul>
            <p>Certain Parties That Receive Information from Us Where You Can
                Request To Opt Out</p>
            <p>JCFCU may disclose nonpublic personal information about you to the
                following types of third parties:</p>
            <ul>
                <li>Financial service providers, such as insurance companies,
                mortgage service companies, and securities broker-dealers.</li>
                <li>Non-financial companies, such as consumer reporting agencies,
                data processors, check/share draft printers, member statement
                printers, retailers, plastic card processors, direct marketers,
                and government agencies.</li>
            </ul>
            <p>How to Opt Out Or Stop Certain Disclosures about You</p>
            <p>
                If you prefer that we do not disclose nonpublic personal
                information about you to such nonaffiliated third parties as listed
                above, you may opt out of those disclosures. If you wish to direct us
                not to make disclosures to nonaffiliated third parties (other than
                those permitted by law), you may print and complete our 
                <%= link_to "Privacy Opt Out Response Form", "pdf/priv_opt.pdf", :rel=>"confirm external" %>, 
                which is found at <%= link_to "www.jcfcu.org", "http:/www.jcfcu.org" %>,
                saving a copy for your records, and follow the directions on the Form
                for returning the completed Form.
            </p>
            <p>
                You may opt out of these disclosures at any time. This opt out
                option, by law, will not apply to disclosures that JCFCU makes to
                companies that perform services on our behalf or to other financial
                institutions that have joint marketing agreements with us.
            </p>
            <p>
                Once we receive your request not to make further disclosures, we
                will act as quickly as possible to stop disclosures. You may always
                contact us for assistance if you later wish to revoke your opt out
                election.
            </p>
            <p>
                <strong>Note to non-member joint account holders:</strong> 
                Anyone of you may exercise the right to opt out, even if you are not actually a member
                of JCFCU and JCFCU will wtreat an opt out request from any one party
                to an account as if all of you directed us to not make disclosures to
                nonaffiliated third parties to which the opt out right applies.
            </p>
            <p>Disclosure of Information about Former Members</p>
            <p>If you terminate your membership with the credit union, we will not
                share information that we have collected about you except as permitted
                by law.
            </p>
            <h5>How We Protect Your Information</h5>
            <p>
                All access to our members' personal financial information is
                restricted. Access is granted to employees, and elected and appointed
                officials of the JCFCU for the purpose of providing the financial
                services or products to the membership, in order to perform their
                ongoing duties and in compliance with all federal and state
                regulations. The JCFCU has safeguards in place to protect our members'
                personal (nonpublic) information. These include strict procedural
                safeguards, electronic safeguards, and physical safeguards. All
                safeguards are, at minimum, compliant with federal regulations
                concerning this subject. Our mailings are not targeted to children and
                we do not knowingly solicit data from or market to children.
            </p>
            <h5>INTERNET</h5>
            <p>
                We use encryption/security software to safeguard the
                confidentiality of personal information we collect from you.
                Cryptography scrambles messages exchanged between your browser and our
                online site.
            </p>
            <p>
                When you go to the sign-on page for online banking, your browser
                establishes a secure session with our server. The secure session is
                established using a protocol called Secure Sockets Layer (SSL)
                Encryption.
            </p>
            <p>
                SSL requires the exchange of what are called public and private
                keys. Keys are random numbers chosen for that session and are only
                known by your browser and our server. After the keys are exchanged,
                your browser will use the numbers to scramble (encrypt) the messages
                sent between your browser and our server. Both sides require the keys,
                as the keys are needed to de-scramble (decrypt) the messages when they
                are received. The SSL protocol not only ensures privacy but also
                ensures that no other browser can impersonate your browser, nor alter
                any information sent. You can tell whether your browser is in a secure
                mode by looking for the secured lock symbol at the bottom of your
                browser.
            </p>
            <h5>Cookies:</h5> 
            <p>
                A cookie is a way a web site recognizes whether
                you previously visited the site and is a piece of data given to a
                browser by a web server, so that the browser will hand the data
                back to the server on subsequent visits.
            </p>
            <p>
                Visitors to our web site remain anonymous. We do not collect
                personal identifying information about visitors to our site. We
                do, however, automatically collect certain standard
                non-identifying information about visits to our site, such as the
                date and time of your visit, the Internet provider address you
                were assigned, city, state and country and the pages that you
                access on our web site. This information is used to compile
                standard statistics on site usage. For members accessing our Home
                Branch we will collect, use and retain only the personal
                information that we believe is necessary to help provide you our
                products, services and other opportunities to you.
            </p>
            <p>
                Our Home Branch server is not directly connected to the Internet.
                The data that is transmitted to and from the server must first pass
                through a firewall. A firewall is a hardware or software device that
                monitors network traffic and blocks inappropriate connections to other
                computers on a network.
            </p>
            <p>
                Email you send us may not be secure unless you access us via one of
                our secure online services. For that reason, do not send us
                confidential information such as Social Security or account numbers
                through an unsecured Email. If you provide us identifying information
                in an Email (e.g., name and address), this information will only be
                used to communicate with you and to handle your request. This
                information is not sold or transferred to other parties.
            </p>
            <p>
                We do not knowingly collect, maintain or use personal information
                from our web site about children nor do we market any of our products
                to children. In addition, our web site is not designed for use by
                children.
            </p>      
        </div>
    </div>