<div id="main_content" class="clearfix">
	<div id="rates_inner">
	<!-- SHARES -->
	<div id="rates_shares">
		<a name="shares"></a><h2>Share Account Rates</h2>
		<table>
			<caption>Share Accounts</caption>
			<thead>
				<tr>
					<th>Description</th>
					<th>Minimum</th>
					<th>Rate</th>
					<th>APY</th>
					<th>Effective Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Regular Share (Savings)</td>
					<td>$25.00 For Membership<br />   $100 To Earn Dividend</td>
					<td>0.35</td>
					<td>0.35</td>
					<td>01/01/2010</td>
				</tr>
				<tr class="odd">
					<td>Club  & Escrow Accounts</td>
					<td>$5.00 </td>
					<td>0.15</td>
					<td>0.15</td>
					<td>01/01/2010</td>
				</tr>
				<tr>
					<td>Regular Checking Account</td>
					<td>None</td>
					<td>0.00</td>
					<td>0.00</td>
					<td>&nbsp;</td>
				</tr>
				<tr class="odd">
					<td>REWARDS +Plus+ CHECKING</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Range - $0.01 to 25,000-Achieve Goals</td>
					<td>None</td>
					<td>1.98</td>
					<td>2.00</td>
					<td>01/01/2010</td>
				</tr>
				<tr class="odd">
					<td>Range - $25,001 & Up-Achieve Goals</td>
					<td>None</td>
					<td>0.25</td>
					<td>0.25</td>
					<td>01/01/2010</td>
				</tr>
				<tr>
					<td>Any Balance - Unachieved Goals</td>
					<td>None</td>
					<td>0.25</td>
					<td>0.25</td>
					<td>01/01/2010</td>
				</tr>
				<tr class="odd">
					<td>MONEY MARKET ACCOUNTS<br />*******************************<br />(CIA) - Cash Investment Account
<br />*******************************<br />(CCIA) -Corporate Cash Investment<br />(Checking For Businesses)</td>
					<td>$1,000 - $2,499</td>
					<td>0.45</td>
					<td>0.45</td>
					<td>10/01/2010</td>
				</tr>
				<tr>
					<td>CIA and CCIA</td>
					<td>$2,500 - $9,999</td>
					<td>0.55</td>
					<td>0.55</td>
					<td>10/01/2010</td>
				</tr>
				<tr class="odd">
					<td>CIA and CCIA</td>
					<td>$10,000 - $24,999</td>
					<td>0.65</td>
					<td>0.65</td>
					<td>10/01/2010</td>
				</tr>
				<tr>
					<td>CIA and CCIA</td>
					<td>$25,000 - $49,999</td>
					<td>0.80</td>
					<td>0.80</td>
					<td>10/01/2010</td>
				</tr>
				<tr class="odd">
					<td>CIA and CCIA</td>
					<td>$50,000 - $99,999</td>
					<td>0.95</td>
					<td>0.95</td>
					<td>10/01/2010</td>
				</tr>
				<tr>
					<td>CIA and CCIA</td>
					<td>$100,000 and Greater</td>
					<td>1.04</td>
					<td>1.05</td>
					<td>10/01/2010</td>
				</tr>
				<tr class="odd">
					<td>(IRA) - Individual Retirement Account </td>
					<td>$5.00 </td>
					<td>0.60</td>
					<td>0.60</td>
					<td>01/01/2010</td>
				</tr>
				<tr>
					<td>Share Certificate Account Builder</td>
					<td>$5.00 </td>
					<td>0.25</td>
					<td>0.25</td>
					<td>01/01/2010</td>
				</tr>
			</tbody>
		</table>
		<div class="notes">
			Share Accounts (Regular, Escrow, Club, IRA & SCAB) will be calculated on the average daily balance and posted quarterly on the last day of the current quarter.  Dividends will be calculated using the Average Daily Balance.</p><p>Effective 04-01-10 you must maintain a minimum balance of $100.00 in your Regular Share Account (Share 1) to earn dividend. A $25.00 minimum balance continues to be a membership requirement.</p><p>REWARDS +Plus+ CHECKING accounts will be calculated on the average daily balance and posted monthly on the last day of the current month.  Dividends will be calculated using the Average Daily Balance.</p><p>CIA & CCIA accounts will be calculated on the average daily balance and posted monthly on the last day of the current month.  Dividends will be calculated using the Average Daily Balance.  These accounts require a $1,000 minimum balance to earn dividend as detailed above.</p><p>If you close one of the accounts listed above before the accrued dividends are credited, the dividend will not be paid.</p><p>If you do not maintain the required minimum balance in your Regular Share account you are not a member in good standing and expose your account to fees as enumerated in the Schedule of Fees.  If you do not maintain the required minimum balance in all other accounts you expose your account to fees as enumerated in the Schedule of Fees.</p><p>Please promptly report any status change(s) to your account in writing signed by you and mail them to our main office.  This stipulation may seem inconvenient to you but is necessary to protect your account, assets and identity.  Your address and telephone number can be changed by logging into Home Branch.</p>
		</div>
		</div>
			<!-- CERTIFICATES -->
			<div id="rates_certs">
			<a name="cert"></a><h2>Share Certificate Rates</h2>
			<table cellpadding="0" cellspacing="0">
				<caption>Share Certificate Accounts</caption>
				<thead>
					<tr>
						<th>Term</th>
						<th>Minimum</th>
						<th>Rate</th>
						<th>APY</th>
						<th>Effective Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>6 Month</td>
						<td>$500.00 </td>
						<td>1.00</td>
						<td>1.00</td>
						<td>See Below</td>
					</tr>
					<tr class="odd">
						<td>12 Month</td>
						<td>$500.00 </td>
						<td>1.15</td>
						<td>1.15</td>
						<td>See Below</td>
					</tr>
					<tr>
						<td>24 Month</td>
						<td>$500.00 </td>
						<td>1.64</td>
						<td>1.65</td>
						<td>See Below</td>
					</tr>
					<tr class="odd">
						<td>36 Month</td>
						<td>$500.00 </td>
						<td>1.84</td>
						<td>1.85</td>
						<td>See Below</td>
					</tr>
					<tr>
						<td>48 Month</td>
						<td>$500.00 </td>
						<td>2.23</td>
						<td>2.25</td>
						<td>See Below</td>
					</tr>
					<tr class="odd">
						<td>60 Month</td>
						<td>$500.00 </td>
						<td>2.38</td>
						<td>2.40</td>
						<td>See Below</td>
					</tr>
				</tbody>
			</table>
			<div class="notes">
				<p>SHARE CERTIFICATE RATES ARE EFFECTIVE  **  10-13-10  **</p><p>Share Certificate rates are subject to change weekly, normally on Wednesday, following the Monday treasury bill auction.</p><p>Contact our Main Office for information regarding special rates or investment terms for single investments of $100,000 and greater.  These opportunities are driven by market conditions and are not always available.  For any single (or recent aggregate) deposit of $100,000 or more Management approval is required.  If it is for a share certificate account our normal stated rates may not be applicable.</p><p>All Share Certificates will be paid dividends calculated at the rate and method of compound stated on the Share Certificate. A penalty will be imposed if you withdraw any funds other than dividends before the maturity date stated on the Share Certificate. If the withdrawal lowers the balance of the Share Certificate lower than the minimum stated for the certificate, then the certificate will be cancelled and dividend will be forfeited.</p><p>APY = Annual Percentage Yield</p>
			</div>
			
			<div class="notes">
&nbsp;IRA's can be purchased as a Share Certificate of Deposit. <br /> THE RATES ARE LISTED ABOVE & ARE THE SAME AS REGULAR CERTIFICATES <br />(12 Month Minimum Term)&nbsp;NOTE: Fees could reduce the earnings paid on an account. 
			</div>
			
		</div>
		<div id="rates_loans" class="clearfix">
			<a name="lrates"></a><h2>Loan Rates</h2>
			<div class="notes">
				<p>
					<strong>Tip:</strong> Shopping for a new or used automobile?&nbsp; You may want to check out <%= link_to "NADA Guide", "http://www.nada.com/", :rel=>"external confirm" %> for pricing, then if you like our loan rates below, you should <%= link_to "Calculate an approximate monthly payment", slc_path, :rel=>"popup:500:550:1:0" %>, and <%= link_to "apply for your loan NOW!", new_loanapp_path %>
				</p>
			</div>
			<!-- AUTO LOANS -->
			<table>
				<a name="autorates"></a><caption>Automobile Loans - (Car or Truck)</caption>
				<thead>
					<tr>
						<th>Model</th>
						<th>Type</th>
						<th>Amt Financed</th>
						<th>*24<br />Mth</th>
						<th>*36<br />Mth</th>
						<th>*48<br />Mth</th>
						<th>*60<br />Mth</th>
						<th>*66<br />Mth</th>
						<th>**72<br />Mth</th>
						<th>***84<br />Mth</th>
						<th>Effective Date</th>
					</tr>
					</thead>
					<tbody>
						<tr>
							<td>New 2011 or 2010</td>
							<td>Fixed</td>
							<td>MSRP</td>
							<td>4.24</td>
							<td>4.24</td>
							<td>4.24</td>
							<td>4.24</td>
							<td>4.74</td>
							<td>4.99</td>
							<td>5.74</td>
							<td>07/21/2010</td>
						</tr>
						<tr class="odd">
							<td>Used 2010 or 2009</td>
							<td>Fixed</td>
							<td>NADA Loan Value</td>
							<td>4.74</td>
							<td>4.74</td>
							<td>4.74</td>
							<td>4.74</td>
							<td>5.24</td>
							<td>5.49</td>
							<td>5.99</td>
							<td>07/21/2010</td>
						</tr>
						<tr>
							<td>2008</td>
							<td>Fixed</td>
							<td>NADA Loan Value</td>
							<td>4.99</td>
							<td>4.99</td>
							<td>4.99</td>
							<td>4.99</td>
							<td>5.49</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>07/21/2010</td>
						</tr>
						<tr class="odd">
							<td>2007</td>
							<td>Fixed</td>
							<td>NADA Loan Value</td>
							<td>5.24</td>
							<td>5.24</td>
							<td>5.24</td>
							<td>5.24</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>07/21/2010</td>
						</tr>
						<tr>
							<td>2006</td>
							<td>Fixed</td>
							<td>NADA Loan Value</td>
							<td>6.24</td>
							<td>6.24</td>
							<td>6.24</td>
							<td>6.24</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>07/21/2010</td>
						</tr>
						<tr class="odd">
							<td>2005</td>
							<td>Fixed</td>
							<td>NADA Loan Value</td>
							<td>6.49</td>
							<td>6.49</td>
							<td>6.49</td>
							<td>6.49</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>07/21/2010</td>
						</tr>
						<tr>
							<td>2004</td>
							<td>Fixed</td>
							<td>NADA Loan Value</td>
							<td>6.49</td>
							<td>6.49</td>
							<td>6.49</td>
							<td>6.49</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>07/21/2010</td>
						</tr>
						<tr class="odd">
							<td>Prior Year Models</td>
							<td>Fixed</td>
							<td>NADA Loan Value</td>
							<td>10.75</td>
							<td>10.75</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>07/21/2010</td>
						</tr>
						<tr>
							<td>New 2011</td>
							<td>Prime Rate</td>
							<td>MSRP</td>
							<td>+1.00%</td>
							<td>+1.00%</td>
							<td>+1.00%</td>
							<td>+1.00%</td>
							<td> +1.50%</td>
							<td>+2.00%</td>
							<td> +3.00%</td>
							<td>07/21/2010</td>
						</tr>
						</tbody>
					</table>

					<div class="notes">
						* Actual rates may vary and are based on a credit score and repayment term.<br /> <br />
** Only available for amounts (lending value or purchase price, whichever less) of greater than $20,000.00.  Mileage must be less than 20,000 miles on used vehicles.  Actual rates may vary and are based on a credit score and repayment term.<br /><br />*** Only available for amounts (lending value or purchase price, whichever less) of greater than $30,000.00.  Mileage must be less than 20,000 miles on used vehicles.  Actual rates may vary and are based on a credit score and repayment term.<br /><br />UP TO 110% LTV Available for 'A' Scores<br /><br />84 Month Term not available on used vehicles for 'D' and 'E' credit scores or prior model years <br /><br /><br />The items below are available for 'A' 'B' and 'C' Scores Only<br />BOAT LOANS available at .50% above the appropriate auto rate<br />RV LOANS available at .50% above the appropriate auto rate<br />MOTORCYCLE & ATV LOANS available at .75% above the appropriate auto rate<br />NEW IMPLEMENT LOANS available at .75% above the appropriate auto rate.
					</div>
					<!-- REAL ESTATE LOANS -->
					<table>
						<caption>Real Estate Loans</caption>
						<thead>
							<tr>
								<th>Description</th>
								<th>Type</th>
								<th>Term</th>
								<th>Rate</th>
								<th>Effective Date</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Home Equity</td>
								<td>Variable Rate</td>
								<td>7 Year Draw & <br />8 Year Payback</td>
								<td>* Prime  <br /> * 4.25%</td>
								<td>11/30/2009</td>
							</tr>

							<tr class="odd">
								<td>First Mortgage - Greater Than $45,000<br /> <br />Up To 25 Year Amortization on  a 7 year rate <br /> Call For Details</td>
								<td>Fixed Rate</td>
								<td>36-180 Months</td>
								<td>** 4.30%</td>
								<td>07/21/2010</td>
							</tr>

							<tr>
								<td>First Mortgage - Less Than $45,000</td>
								<td>Fixed Rate</td>
								<td>36-180 Months</td>
								<td>** 4.80%</td>
								<td>07/21/2010</td>
							</tr>

							<tr class="odd">
								<td>First Mortgage</td>
								<td>Fixed Rate</td>
								<td>30 Years</td>
								<td>*** Market</td>
								<td>CALL</td>
							</tr>

							<tr>
								<td>Second Mortgage - Greater Than $45,000</td>
								<td>Fixed Rate</td>
								<td>36 - 180 Months</td>
								<td>** 4.90%</td>
								<td>07/21/2010</td>
							</tr>

							<tr class="odd">
								<td>Second Mortgage - Less Than $45,000</td>
								<td>Fixed Rate</td>
								<td>36 - 180 Months</td>
								<td>** 5.40%</td>
								<td>07/21/2010</td>
							</tr>

							<tr>
								<td>Real Estate - 100% LTV</td>
								<td>Fixed Rate</td>
								<td> ADD</td>
								<td>2.50%</td>
								<td>ADD</td>
							</tr>

							<tr class="odd">
								<td>Real Estate - Non Owner Occupied</td>
								<td>Fixed Rate</td>
								<td>ADD</td>
								<td>0.50%</td>
								<td>ADD</td>
							</tr>

							<tr>
								<td>Mini Mortgage</td>
								<td>Fixed Rate</td>
								<td>36 Months</td>
								<td>** 10.00%</td>
								<td>02/01/2010</td>
							</tr>
						</tbody>
					</table>

					<div class="notes">
						***Call the Main Office (502) 429-4955 or (800) 288-5228 for current rates.  <br /> All real estate rates based on 80% Loan to Value (LTV) unless otherwise statded and must be a 1st or 2nd Mortgage. <br /><br /> *(Prime is Currently 3.25% and was last changed 12-17-08).  Prime is defined as the "US Prime Rate - Latest" published under "Interest Rates" in the Wall Street Journal or 4.25% whichever is greater and existing loans are subject to rate change quarterly.  Actual rates may vary and are based on a credit score and repayment term. <br /><br /> ** Actual rates may vary and are based on a credit score and repayment term.
					</div>
					<!-- OTHER LOANS -->
					<table>
						<caption>Other Loans</caption>
						<thead>
							<tr>
								<th>Description</th>
								<th>Rate</th>
								<th>Max. Term/Amount</th>
								<th>Effective Date</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Signature Loan</td>
								<td>*  10.75%</td>
								<td>$5,000</td>
								<td>02/01/2010</td>
							</tr>

							<tr class="odd">
								<td>Share Secured</td>
								<td>Share rate plus 3.00%</td>
								<td>15 Years</td>
								<td>07/21/2010</td>
							</tr>

							<tr>
								<td>Certificate Secured</td>
								<td>Certificate rate plus 3.50%</td>
								<td>15 Years</td>
								<td>02/01/2010</td>
							</tr>

							<tr class="odd">
								<td>VISA</td>
								<td>* 10.99%</td>
								<td>Variable Rate</td>
								<td>02/01/2010</td>
							</tr>

						</tbody>
					</table>

					<div class="notes">
						* Actual rates and maximum credit limit may vary and are based on a credit score and repayment term.<br />Up To $5,000 Limit on Credit Scores A, B or C<br />Up To $2,500 Limit on Credit Scores  D or E
					</div>
					<div class="notes centertext">
If the Share Rate is tiered the Highest Rate Determines the Loan Rate.<br />Share and Certificate Secured Rates are not based on a credit score<br />Certificate Secured Loan Terms cannot exceed the remaining term of the Certificate<br /><br />All Loan Rates are quoted as Annual Percentage Rates.&nbsp;
					</div>
				</div>
			</div>
        </div>

