<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
    	<h2>Summary of All Services</h2>
        <div class="summary">
        <h5>CONSUMER</h5>
        <ul>
        <li><span class="bold">ACH Origination</span></li>
        <li><span class="bold">ATM Machines</span><br />
        Main Office<br />
Indiana<br />
Shared Branches<br />
1,800 Surcharge Free Regionally<br />
Thousands Available Nationally
</li>
<li><span class="bold">Automatic Payments</span><br />
Insurance Premiums<br />
Mortgage Payments<br />
Utility Bills<br />
Many Others</li>
<li><span class="bold">Bill Payer(Free)</span></li>
<li><span class="bold">Budget Counseling</span></li>
<li><span class="bold">Cancelled Checks - On Line</span></li>
<li><span class="bold">Consumer Publications &amp;Assistance</span></li>
<li><span class="bold">Cost Statistics for Vehicles (New &amp; Used)</span></li>
<li><span class="bold">DEBIT Cards (Free)</span></li>
<li><span class="bold">Direct Deposit For</span><br />Military Allotments<br />
Net Pay<br />
Payroll<br />
Retirement checks<br />
Social Security Checks<br />
VA Checks</li>
<li><span class="bold">Drive-In Window</span><br />Main Office, Highview &amp; Shared Branches</li>
<li><span class="bold">E-Statements (Free)</span></li>
<li><span class="bold">Family Membership</span></li>
<li><span class="bold">Federally Insured to at least $250,000.00 </span></li>
<li><span class="bold">Gift Cards - VISA </span></li>
<li><span class="bold">Locations - 7 Local, 3,500 Nationally </span></li>
<li><span class="bold">Money Orders </span></li>
<li><span class="bold">Night Depository </span></li>
<li><span class="bold">Notary Public Service </span></li>
<li><span class="bold">Official Checks </span></li>
<li><span class="bold">Once A Member - Always A Member </span></li>
<li><span class="bold">Online Access - &quot;Home Branch&quot;</span></li>
<li><span class="bold">Overdraft Protection</span></li>
<li><span class="bold">Payroll Deduction </span></li>
<li><span class="bold">Safety Deposit Boxes - Main Office &amp; Highview </span></li>
<li><span class="bold">Signature Guarantee </span></li>
<li><span class="bold">Travel Card (VISA) </span></li>
<li><span class="bold">Western Union Moneygrams </span></li>
<li><span class="bold">Wire Transfers</span></li>
</ul>
</div>
<div class="summary">
<h5>SAVINGS</h5>
<ul>
<li><span class="bold">Cash Investment Account</span> - Daily Dividend - Money Market Rates - No Monthly Service Charge - Minimum Balance $1,000.00 - No Limit on Checks</li>
<li><span class="bold">Corporate Cash Investment Account</span> - (For Organizations &amp; Businesses)</li>
<li><span class="bold">Christmas Club Accounts</span></li>
<li><span class="bold">Share Certificate Program</span> - 6 to 60 Months</li>
<li><span class="bold">I R A ' s</span> - (Ind. Retirement Acct.) - Traditional - SEP - Roth - Educational</li>
<li><span class="bold">Share Certificate Builder</span></li>
<li><span class="bold">Share Draft Account</span> - No Monthly Service Charge or Minimum Balance - Monthly Statement - DEBIT Cards with ATM Machine &amp; Network Access</li>
<li><span class="bold">Rewards +Plus+ Checking</span> </li>
<li><span class="bold">Share Account</span> - Regular Savings - $25.00 Minimum Balance Membership Req. - Quarterly Dividend &amp; Statement</li>
<li><span class="bold">Vacation Club Accounts</span></li>
</ul>

</div>
<div class="summary">
<h5>LENDING</h5>
<ul>
<li><span class="bold">Fixed &amp; Variable Rate</span></li>
<li><span class="bold">Open &amp; Closed End</span></li>
<li><span class="bold">Auto</span> - New &amp; Used</li>
<li><span class="bold">Boat</span> - New &amp; Used</li>
<li><span class="bold">Consumer Goods</span></li>
<li><span class="bold">Credit Cards</span></li>
<li><span class="bold">First Mortgage Home</span></li>
<li><span class="bold">Home Equity</span></li>
<li><span class="bold">Home Improvement</span></li>
<li><span class="bold">Investment</span></li>
<li><span class="bold">Indirect Lending (Auto Dealers)</span></li>
<li><span class="bold">Line of Credit</span></li>
<li><span class="bold">Mini-Mortgage</span></li>
<li><span class="bold">Motorcycle/ATV</span> - New &amp; Used</li>
<li><span class="bold">Motorhome</span> - New &amp; Used</li>
<li><span class="bold">Personal</span></li>
<li><span class="bold">Real Estate Secured</span></li>
<li><span class="bold">Recreational Vehicle</span></li>
<li><span class="bold">Share Certificate Secured</span></li>
<li><span class="bold">Share Secured</span></li>
<li><span class="bold">Tractor / Implement</span> - (New)</li>
<li><span class="bold">Truck &amp; Van</span> - (New &amp; Used)</li>
</ul>
</div>

<div class="summary">
<h5>INSURANCE</h5>
<ul>
	<li><span class="bold">Accidental Death</span> - $1,000 Free</li>
    <li><span class="bold">Cancer &amp; Dread Disease</span></li>
    <li><span class="bold">Identity Theft</span></li>
    <li><span class="bold">Life Insurance</span> - Individual &amp; Family Coverage</li>
    <li><span class="bold">Salary Continuation</span></li>
    <li><span class="bold">Supplemental Retirement Plans</span></li>
    <li><span class="bold">GAP</span></li>                    
</ul>
</div>

        
        </div>
    </div>