<div id="main_content" class="clearfix">
    	<div id="main_content_inner">
    	<h2>Please Sign In</h2>
        <p class="notice">NOTICE: The feature you are trying to access is available within our Home Branch System.  Please log in to Home Branch to access this information.</p>
        <div class="indent">
        <p class="red bold">ALERT: As a security precaution, please remember to click the "Sign Off" link when you finish your online session.</p>
        
        <p>This site may be utilized for authorized purposes only. Unauthorized access or use is not permitted and constitutes a crime punishable by law. Activity on this site is monitored for security purposes. </p>
        
        <p>Please read our <%= link_to "Electronic Services Disclosure and Agreement", disclosure_path %> for important information about our electronic services. By using Home Branch, you agree to certain terms and conditions therein. </p>
        
      <p>Please note that end-of-month processing generally occurs at the close of business on the last working day of the month. Home Branch will be unavailable for approximately 2 hours during this time. </p>
        
        <p><%= image_tag "flash_star.gif", :width=>9, :height=>9, :alt=>"" %>Check Orders are for Members Only. Please enter your account number and PIN number to access Check Ordering.</p>
        
        
        <p><%= link_to image_tag("billpaydemo.gif", :width=>177, :height=>53, :alt=>""), "https://www.billpaysite.com/V2/Demo.aspx?instID=38732", :rel=>"confirm external" %></p>
        </div>
        </div>
    </div>