<p style="color: green", align=center><%= flash[:notice] %></p>
<div id="main_content" class="clearfix">  
	 <h2>Thank You!</h2>
     <p>We appreciate feedback from our members and guests.</p>
</div>
