<p style="color: green", align=center><%= flash[:notice] %></p>
<h2>Thank You!</h2>
        Your loan application has been received. Applications are retrieved and processed at the Main Office from 8:30 - 5:30 (Central Time), Monday through Friday. All applications should be processed within two business days.