<div id="includes" class="clearfix">
	<%= render "layouts/announcements" %>
	<%= render "layouts/otherinfo" %>
	<%= render "layouts/remoteaccess" %>
</div>
    
    <div id="notice">
	    <p>Notice: Be alert about FRAUDULENT E-mails asking for your JCFCU account information. Identity thieves are always running "Phishing" scams that target consumers. Be aware JCFCU will never e-mail a member to ask for account number and other confidential information. We already have it. </p>
    </div>
    <div id="footer" class="clearfix">
    	<div id="ncua">
			<p class="disclaimer2">Your savings federally insured to at least $250,000 and backed by the full faith and credit of the United States Government. </p>
	    </div>
        
        <div id="ehl">
		    <p class="ehltext">Equal Housing Lender</p>
		</div>
        
        <div id="networksol">
            <!--
            SiteSeal Html Builder Code:
            Shows the logo at URL https://seal.networksolutions.com/images/prosqgreen.gif
            Logo type is  ("NETSP")
            //-->
            <script type="text/javascript"> SiteSeal("https://seal.networksolutions.com/images/prosqgreen.gif", "NETSP", "none");</script>
		</div>
	
    	<div id="shareone">
		    <p>&copy; 2010 All Rights Reserved<br />Website designed &amp; maintained by:</p>
		    <%= link_to image_tag("shareone_logo.jpg", :alt=>""), "http://www.shareone.com", :rel=>"confirm external" %>
	    </div>
    </div>
</div>
        <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9785528-4");
pageTracker._trackPageview();
} catch(err) {}</script>